# Analytics
AWSPinpoint.framework/
AWSCore.framework/
amplify/
awsconfiguration.json
.amplifyrc

# Other
.DS_Store
Conjugar.xcodeproj/project.xcworkspace/xcuserdata/
Conjugar.xcodeproj/xcuserdata/
Carthage/
Swinject.framework/
